
@import url(variable/variable-home.css);
@import url(default-styles.css);
@import url(pages/header.css);
@font-face {
  font-family: Roboto-regular;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-family: Roboto-bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-family: Roboto-light;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
} 

body{
  background-color: var(--backgraund-color);
}

.main {
  color: var(--main-color);
  position: relative;
}
.maim-text {
  font-family: Roboto-bold;
  margin: 150px 0 0 90px;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 2px
}
.main-text-description {
  font-family: Roboto-light;
  margin: 17px 0 0 95px;
  font-size: 30px;
  color: var(--text-color);
  letter-spacing: 1px;

}
.main-button {
  width: 195px;
  height: 53px;
  background-color: var(--input-color);
  border-radius: 8px;
  margin: 37px 0 0 95px;
  cursor: pointer;
}
.button-text{
  font-size: 22px;
  color: var(--main-color);
  line-height: 28px;
}
.headphones{
  position: absolute;
  top: -139px;
  left: 856px;
  width: 895px;
  height: 597px;
}

.footer{
  height:  300px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  
}
.footer-text{
  margin-bottom: 78px;
  font-size: 22px;
  font-family: Roboto-light;
  color: var(--text-color);
  
}
.img-music {
  margin-bottom: 83px; 
  margin-right: 18px;
}
.img-arrow {
  margin-bottom: 84px;
  margin-left: 5px;
}

.img-music2 {
  position: absolute;
  bottom: 76px;
  left: 920px;
}
